registry=https://registry.npmjs.org/
always-auth=true
@cc=https://www.myget.org/F/cloudcheckr/npm/
@cc:registry= https://www.myget.org/F/cloudcheckr/npm/
@cc-ui=https://www.myget.org/F/cloudcheckr/npm/
@cc-ui:registry= https://www.myget.org/F/cloudcheckr/npm/
//www.myget.org/F/cloudcheckr/npm/:_authToken=${NPM_TOKEN}
